<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myStudent" class ="springEx04.Student">
		<property name="name" value="유수민"/>
		<property name="age" value="26"/>
		<property name="score" ref="score"/>
		<property name="address" ref="address"/>
		
	</bean>

	<bean id="score" class = "springEx04.Score">
		<constructor-arg value="100" />
		<constructor-arg value="90" />
		<constructor-arg value="80" />
	</bean>
	
	<bean id="address" class = "springEx04.Address">
		<constructor-arg value="서울시" />
		<constructor-arg value="석관동" />
		
	</bean>
</beans>
